@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Robotobold";
  /* Гарнитура шрифта */
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  /* Гарнитура шрифта */
  src: url(../fonts/Roboto-Medium.ttf);
}
.text {
  font-family: "Roboto", sans-serif;
}

.text-bold {
  font-family: "Robotobold" sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
  color: white;
}

.main {
  height: 885px;
  background: url(../img/main.jpg) no-repeat center;
  background-color: #312F30;
}
.main__up-title {
  padding-top: 285px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.main__title {
  margin-top: 7px;
  font-weight: bold;
  font-size: 57.33px;
  line-height: 67px;
}
.main__under-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.7;
  margin-bottom: 57px;
  margin-top: 37px;
}
.main__button {
  background: #F6762C;
  border-radius: 5px;
  padding: 15px 37px;
}

.dishes {
  padding-top: 115px;
  padding-bottom: 102px;
  background: #1C1C1C;
}
.dishes__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-dishes {
  margin-right: 32px;
  border-radius: 10px;
  width: 100%;
  height: 323px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-dishes:nth-child(1) {
  background: url(../img/catalog/meet-potato.png) no-repeat top;
  background-color: #312F30;
}
.item-dishes:nth-child(2) {
  background: url(../img/catalog/meet.png) no-repeat top;
  background-color: #312F30;
}
.item-dishes:nth-child(3) {
  background: url(../img/catalog/cheese.png) no-repeat top;
  background-color: #312F30;
}
.item-dishes:nth-child(4) {
  background: url(../img/catalog/pizza.png) no-repeat top;
  background-color: #312F30;
}
.item-dishes:last-child {
  margin-right: 0;
}
.item-dishes__title {
  text-align: center;
  padding-top: 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.item-dishes__text {
  padding-top: 13px;
  text-align: center;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.7;
  height: 54px;
}

.burger {
  background: #312F30;
  height: 543px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger__img {
  padding-right: 207px;
}
.burger__title {
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
}
.burger__text {
  padding-bottom: 13px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.7;
}
.burger__price {
  padding-bottom: 20px;
}
.burger__button {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #FFFFFF;
  background: #F6762C;
  border-radius: 5px;
  padding: 15px 27px;
}

.price-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-burger__real {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #F6762C;
  padding-right: 6px;
}
.price-burger__fake {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.1em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #F6762C;
  opacity: 0.5;
}

.catalog {
  background: #1C1C1C;
  padding-top: 150px;
}

.content-catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 30px 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}
.item-catalog_1 {
  background: url(../img/second-catalog/fresh.png);
  padding-left: 290px;
  width: 265px;
}
.item-catalog_2 {
  background: url(../img/second-catalog/pizza.png);
  padding-left: 50px;
  width: 505px;
}
.item-catalog_3 {
  background: url(../img/second-catalog/burger.png);
  padding-left: 290px;
  width: 265px;
}
.item-catalog_4 {
  background: url(../img/second-catalog/shaurma.jpg);
  padding-left: 50px;
  width: 505px;
}
.item-catalog__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}
.item-catalog__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.7;
  margin-bottom: 11px;
}
.item-catalog__price {
  margin-bottom: 27px;
}
.item-catalog__button {
  background: #F6762C;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 13px 36px;
  width: 75px;
  text-align: center;
}

.price-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-catalog__real {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #F6762C;
  padding-right: 10px;
}
.price-catalog__fake {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.1em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #F6762C;
  opacity: 0.5;
}

.people {
  background: #1C1C1C;
  padding-top: 135px;
  padding-bottom: 160px;
}
.people__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.people__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.people__img-info {
  height: 43px;
  width: 43px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.people__text {
  text-align: center;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.7;
}
.people__name {
  text-align: center;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.people__national {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
}

.download {
  background: #312F30;
}
.download__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
}
.download__text {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}
.download__but {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 38px;
  background: #F6762C;
  border-radius: 5px;
}

.footer {
  background: #1C1C1C;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 150px;
  padding-left: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gmail__img {
  padding-right: 10px;
  margin-bottom: 9px;
}
.gmail__text {
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #FFFFFF;
  opacity: 0.8;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site__img {
  margin-right: 10px;
}
.site__text {
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #FFFFFF;
  opacity: 0.8;
}

.info-footer-item {
  margin-top: 30px;
}
.info-footer-item__title {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.info-footer-item__text {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #FFFFFF;
  opacity: 0.8;
}

.social-footer-item {
  margin-top: 30px;
}
.social-footer-item__title {
  margin-bottom: 16px;
}